.quizGrid .quizCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--secondary-container-bg);
    padding: var(--unit-3);
    border-radius: var(--unit-3);
    margin: var(--unit-2) 0;
    transition: 0.25s;
}

.quizGrid .quizCard:hover {
    border-radius: var(--unit-2);
    transform: scale(1.01);
}

.quizGrid .quizCard .info * {
    margin: var(--unit-1);
}

.quizGrid .quizCard svg {
    flex-shrink: 0;
}