main {
    height: calc(100% - var(--unit-16));
    display: flex;
    flex-direction: column;
    gap: var(--unit-3);
}

p {
    margin: 0;
}

.question {
    margin-top: auto;
    padding: var(--unit-3);
    overflow: auto;
    scrollbar-width: thin;
}

.question .infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question .infoRow #newOrWeak {
    border-radius: var(--unit-3);
    padding: var(--unit-1) var(--unit-3);
    margin: 0;
    display: none;
}

.question .infoRow #newOrWeak.new {
    background-color: var(--secondary-container-bg);
}

.question .infoRow #newOrWeak.weak {
    background-color: var(--success-container);
    color: var(--on-success-container);
}

.question h3 {
    font-size: 150%;
    margin: 0;
    padding: var(--unit-3) 0;
}

.question p {
    font-size: 110%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--unit-3);
}

.question .answer {
    display: block;
    padding: var(--unit-2) 0;
}

.question .answer.correct {
    color: var(--success);
}

.question input[type="radio"] {
    width: var(--unit-4);
    height: var(--unit-4);
}

.question #figure {
    display: none;
    width: 100%;
    margin-bottom: var(--unit-3);
}

#questionIdContainer {
    color: var(--dim-text-color);
    margin: 0;
    padding: var(--unit-1) 0;
}

#correctBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--unit-3);
    border-radius: var(--unit-3);
    margin-bottom: var(--unit-3);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0 var(--unit-3);
    transition: max-height .3s, opacity .3s, padding .3s;
}

#correctBox.visible {
    padding: var(--unit-3);
    opacity: 1;
}

#correctBox h3, #correctBox p {
    margin: 0;
}

#correctBox .text {
    display: flex;
    flex-direction: column;
    gap: var(--unit-2);
}

#correctBox.correct {
    background-color: var(--success-container);
    color: var(--on-success-container);
}

#correctBox.wrong {
    background-color: var(--error-container);
    color: var(--on-error-container);
}

#correctBox #checkCircle, #correctBox #cancel {
    display: none;
    height: var(--unit-16);
    width: var(--unit-16);
}

#correctBox #checkCircle {
    fill: var(--success);
}

#correctBox #cancel {
    fill: var(--error);
}

#correctBox.correct #checkCircle {
    display: block;
}

#correctBox.wrong #cancel {
    display: block;
}

#questionExplanationButton {
    border: none;
    border-radius: none;
    background-color: transparent;
    padding: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

#questionExplanationDialog {
    border-radius: var(--unit-5);
    border: none;
    max-width: 600px;
    background-color: var(--background-color);
}

#questionExplanationDialog button {
    margin-top: var(--unit-3);
}